/*
1. Typography
2. Global
3. Components
*/

html,
body {
    height: 100%;
    margin: 0;
    color: $blk;
    font-size: 16px;
    font-family: $font-reg;
}

/* 1. Typography */
h1,
h2,
h3,
a.headline,
h4,
h5,
h6 {
    margin-top: 0;
    font-family: $font-bold;
    font-weight: normal;    
}

h1,
h2,
h3,
a.headline {
    text-transform: uppercase;
    letter-spacing: -0.05em;

    span.spaced {
      letter-spacing: normal;
    }
}

sup {
    font-size: inherit;
    top: 0;
}

h1 {
    line-height: 90%;
    @include vwFont($size-h1-desktop);

    & + p {
        margin: 0 auto;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: calc(4vw * 12 / 56);
        @include mbVW(10);
    }
}
.mobile h1 {
    @include mobileFont(40vw);
    transition: margin .2s ease-out;

    @media screen and (min-width: 768px) {
        @include mobileFont(50vw);
    }
}

a.headline {
    margin: 0 auto;
    line-height: 96%;
    text-decoration: none;
    color: $red;
    cursor: pointer;
    @include vwFont($size-bar-a-desktop);

    svg {
        fill: $red;
        transition: fill .2s ease-out;
    }

    &:hover {
        color: $blk;

        svg {
            fill: $blk;
        }
    }
}
.mobile a.headline {
    @include mobileFont($size-paragraph-mobile);

    .red-arrow {
        display: none;
    }
}

p,
form {
    @include vwFont($size-paragraph-desktop)
}
.mobile {
    p,
    form {
        @include mobileFont($size-paragraph-mobile);
    }
}

a {
    color: $blk;
    transition: color .2s ease-out;

    &:hover {
        color: $red;
    }
}

/* 2. Global */
.logo {
    display: block;
    
    img {
        width: 100%;
        display: block;
        display: none;
    }
}
.gp-logo {
    background-image: url(../images/gp_gypsum_retina.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
    @include calcVW(238);
    @include calcVH(52);
}
.fireguard-logo {
    background-image: url(../images/fireguard-logo_retina_new.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
    @include calcVW(183);
    @include calcVH(80);
}
.mobile {
    .logo {
        &:first-child {
            margin-bottom: 10px;
        }
    }
    .gp-logo {
        width: 60px;
        height: 36px;
        background-image: url(../images/gp-logo-mobile@2x.png);
    }
    .fireguard-logo {
        width: 39px;
        height: 51px;
        background-image: url(../images/fireguard-logo-mobile@2x.png);
    }
}

.numblock,
.textblock {
    @include clearfix;
}

/* 3. Components */
.nav-dots {
    margin: 0;
    padding: 0;

    li {
        list-style-type: none;
        transition: margin .2s ease-out;

        @media screen and (min-width: 481px) {
            & + li {
                margin-top: 30px;
            }
        }
    }

    a {
        @include makeDot(12px);
        text-indent: 110%;
        overflow: hidden;
        transition: background .2s ease-out;
    }    

    &.gray-bg a {
        background: $grayE;
    }
    &.white-bg a {
        background: $wt;
    }
    a.is-active {
        background: $bg-blue;
    }

    a.blue {
        background: $bg-blue;
    }

    a:not(.is-active):hover {
        background: $gray8;
    }

    & + .nav-dots {
        margin-top: 20px;
    }
}
.ie9 .nav-dots a {
    border-radius: 6px;
    display: block;
    width: 12px;
    height: 12px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .nav-dots a {
        border-radius: 6px;
        display: block;
        width: 12px;
        height: 12px;
    }
}
.mobile .nav-dots {
    display: none;

    li + li {
        margin-top: 20px;
    }
}

#introduction {
    p {
        letter-spacing: -.5px;
    }
}
.mobile #introduction {
    h1 {
        margin-bottom: 28%;
        margin-bottom: 11vh;
    }

    .bg-img {
        background-position: center center;
    }

    @media screen and (min-width: 768px) {
        h1 {
            /*@include mobileFont(50vw);*/
        }
        p {
            @include mobileFont($size-label-mobile);
        }
    }
    @media screen and (max-height: 960px) {
        h1 {
            @include mobileFont(50vw);
            margin-bottom: 4vh;
        }
        p {
            @include mobileFont(19vw);
        }
    }
    @media screen and (min-width: 768px) and (max-height: 960px) {
        h1 {
            @include mobileFont(48vw);
            margin-bottom: 4vh;
        }
        p {
            @include mobileFont(18vw);
        }
    }
}
#introduction p a {
    font-size: 1em;
}

.mobile #smoke-alarms {
    overflow: hidden;
}

.scroll-down-arrow {
    width: calc(4vw * 25 / 56);
    @include margin-auto;

    svg {
        transition: fill .2s ease-out;
    }

    &.black-arrow svg {
        fill: $blk;
    }
    &.white-arrow svg {
        fill: $wt;
    }

    &:hover {
        svg {
            fill: $red;
        }
    }
}
.black-arrow {
    width: 25px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -12.5px;

    &:hover {
        fill: $red;
    }
}

#cooking .step-number + p {
    text-indent: -.435em;
}

.textblock {
    text-align: center;
    margin: 0 auto;

    p {
        line-height: 115%;
    }

    a {
        @include vwFont($size-paragraph-desktop);
        letter-spacing: -.5px;
        display: inline-block;
    }
}
a.nojump {
    @include vwFont($size-paragraph-desktop);
}
.mobile a.nojump {
    @include mobileFont($size-numblock-a-mobile);
}

.numblock {
    position: relative;
    letter-spacing: -1px;
    padding-left: 68vw;
    padding-right: 7vw;
    padding-top: 39vh;

    * {
        box-sizing: border-box;
    }

    p,
    a {
        margin: 0;
    }

    p,
    a,
    label {
        @include vwFont($size-paragraph-desktop);
        // lock down the font size from scaling larger than comp
        @media screen and (min-width:$compsize){
            font-size:26px;
        }
    }

    a {
        @include mbVW(28);
    }
    p {
        @include mbVW(27);
    }
    .step-number {
        margin-bottom: 0;
    }

    .control {
        color: $blk;
    }

    .checkbox {
        @include calcVW(120);
        @include plVW(45);
        @include ptVW(10);

        &.done {
            position: relative;        
        }
        &.nope {
            margin: 0;
        }
    }
}
.ie9 .numblock {
    .checkbox {
        @include ptVW(8);
    }
}
.mobile .numblock {
    text-align: center;
    @include mobileWidth(295vw);
    @include margin-auto;
    padding-top: 0;
    padding-bottom: 0;

    p {
        @include mobileFont($size-paragraph-mobile);
        @include mbVW-mobile(18vw);
    }
    a {
        @include mobileFont($size-numblock-a-mobile);
        @include mbVW-mobile(40vw);
    }
    label {
        @include mobileFont($size-label-mobile);
    }
    .checkbox {
        @include mobileWidth(95vw);
        text-align: left;
        transition: margin .2s ease-out;
        @include ptVW-mobile(10vw);
        @include plVW-mobile(41vw);
    }
    .checkbox .control-indicator {
        @include mobileWidth(36vw);
        @include mobileHeight(36vw);
    }
}
.getmoreinfo {
    color: $blk;
    display: block;
}
.checkbox .control-indicator {
    border-radius: 0;

    @media screen and (min-width: 768px) {
        @include calcVW(40);
        @include calcVH(40);
    }
}
.mobile {
    
}

.control input {
    &:focus ~ .control-indicator {
        box-shadow: none;
    }

    & ~ .control-indicator {
        background-color: $grayB;
    }
    &:checked ~ .control-indicator {
        background-color: $bg-blue;
    }
}

.step-img-container {
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    image-rendering: optimizeQuality;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;                    
}
#smoke-alarms-icon {
    background-image: url(../images/01-icon-smoke-alarms-inactive_retina.png);
    @include calcVW(130);
    @include calcVH(130);

    &.is-active {
        background-image: url(../images/01-icon-smoke-alarms-active_retina.png);
    }
}
#cooking-icon {
    background-image: url(../images/02-icon-cooking-inactive_retina-flipped.png);
    @include calcVW(158);
    @include calcVH(146);

    &.is-active {
        background-image: url(../images/02-icon-cooking-active_retina-flipped.png);
    }
}
#electrical-cords-icon {
    background-image: url(../images/03-icon-electrical-cords-inactive_retina.png);
    @include calcVW(140);
    @include calcVH(162);

    &.is-active {
        background-image: url(../images/03-icon-electrical-cords-active_retina.png);
    }
}
#materials-icon {
    background-image: url(../images/04-icon-materials-inactive_retina.png);
    @include calcVW(133);
    @include calcVH(133);

    &.is-active {
        background-image: url(../images/04-icon-materials-active_retina.png);
    }
}
#heaters-icon {
    background-image: url(../images/05-icon-heating-inactive.png);
    @include calcVW(131);
    @include calcVH(132);

    &.is-active {
        background-image: url(../images/05-icon-heating-active.png);
    }
}
#smoking-icon {
    background-image: url(../images/06-icon-smoking-inactive_retina.png);
    @include calcVW(130);
    @include calcVH(131);

    &.is-active {
        background-image: url(../images/06-icon-smoking-active_retina.png);
    }
}
#escape-plan-icon {
    background-image: url(../images/07-icon-escape-plan-inactive.png);
    @include calcVW(131);
    @include calcVH(132);

    &.is-active {
        background-image: url(../images/07-icon-escape-plan-active.png);
    }
}
.ie9 {
    .step-img-container {
        @include calcVH(133);
    }
}

#results {
    padding: 0;
}


.sharing-container {
    padding-top:5vh;

    .social-links {
      display:flex;   
      justify-content:center;

      a {
        margin:0 calc(4vw * 20 / 56);
      }
    }

    p {
        margin: 0 0 calc(4vw * 12 / 56);

        a {
            transition: color .2s ease-out;
        }
    }

    p,
    a {
        @include vwFont($size-share);
    }

    svg {
        position: relative;
    }

    path {
        fill: $grayA;
        transition: fill .2s ease-out;
    }

    .facebook {
        width: 15px;
                
        &:hover path {
            fill: $facebook-blue;
        }
    }
    .twitter {
        width: 32px;
        
        &:hover path {
            fill: $twitter-blue;
        }

        svg {
            top: 3px;
        }
    }
    .google {
        width: 38px;
        
        &:hover path {
            fill: $google-red;
        }
    }
    .mail {
        width: 34px;

        svg {
            top: 5px;
        }
        
        &:hover path {
            fill: $gp-blue;
        }
    }

}
.mobile {
    .sharing-container {
        p,
        a {
            @include mobileFont($size-paragraph-mobile);
        }

        .mail-wrap p:not(.mail-note) {
            font-size: 16px;
        }
    }
    @media screen and (min-width: 481px) and (max-width: 590px) {
        .twitter svg {
            top: 1px;
        }
        .mail svg {
            top: -1px;
        }
    }
    @media screen and (min-width: 591px) {
        .twitter svg {
            top: -3px;
        }
        .google svg {
            top: 4px;
        }
        .mail svg {
            top: -5px;
        }
    }
}
.ie9 {
    .social-links {
        @include calcVH(32);

        a {
            height: 100%;
            max-height: 50px;

            svg {
                max-height: 50px;
            }
        }

        .mail-wrap {
            display: inline-block;
            top: 0;
            margin-top: 0;
        }

        .facebook svg {
            width: 18px;
        }
        .google {
            width: 44px;

            svg {
                top: 3px;
            }
        }
        .mail svg {
            width: 28px;
            top: 12px;
            width: 34px;
            top: 9px;
        }
    }
    .mobile .social-links {
        width: 100%;
        height: 32px;
        
        .facebook svg {
            width: 15px;
        }
        .twitter svg {
            top: 1px;
        }
        .google {
            width: 38px;
        }
        .mail svg {
            width: 34px;
            top: 9px;
        }
    }
}
/* IE 10/11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .social-links {
        max-height: 50px;
        @include clearfix;

        .google svg {
            top: 4px;
        }
        .mail svg {
            top: 0;
        }

        a {
            height: 100%;
            max-height: 50px;

            svg {
                max-height: 50px;
            }
        }
    }
    .mobile {
        #introduction {
            overflow: hidden;
        }
        #results {
            height: auto;
            overflow: hidden;

            .textblock {
                position: relative;
                top: calc(120vw /357 * 100);
            }
        }
        .social-links {
            width: 100%;
            max-height: 43px;
        }
        .twitter svg {
            top: 1px;
        }
        .mail svg {
            top: 1px;
        }
    }
}

.mail-wrap {
    position:relative;

    p, input {
        font-size:16px;
        text-align:left;
        margin:0;
    }
    .button-right {
        height:60px;
    }
    input {
        border:none;
        display:block;
        padding:4px 4px;
        margin:6px 0 12px 0;
        width:174px;
        &.mail-send {
            background:$red;
            color:#fff;
            padding:12px 24px;
            width:auto;
            float:right;
            margin:0;
            transition:background 0.3s;
            &:hover {
                background:#000;
            }
        }
    }
    p {
        padding:4px 0 0 0;
    }
    p.mail-note {
        font-size:10px;
        color:#fff;
        font-family:$font-sub;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #results .mail {
        display: inline-block;
        width: 38px;
        float: left;
    }
    .mail-form {
        bottom: 74px;
    }
    .social-links .mail-wrap {
        display: inline-block;
    }
}

.mail-wrap input[type='text'] {
    width: 100%;
    box-sizing: border-box;
}

.mail-wrap:after {
    bottom: 70%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(204, 204, 204, 0);
    border-top-color: #ccc;
    border-width: 15px;
    margin-left: -15px;
    opacity:1;    
    transition: opacity .4s;
}
.mail-wrap.hidden:after {
    opacity:0;
}
.mobile .mail-wrap {
    position: static;

    &:after {
        border: none;
    }
}
.mail-form {
    position: absolute;
    bottom: 60px;
    left: -75px;
    background: #ccc;
    width:185px;
    padding: 20px;
}
.mobile .mail-form {
    bottom: 60px;
    left: 50%;
    margin-left: -112.5px;

    @media screen and (min-width: 481px) {
        bottom: 63px;
    }
    @media screen and (min-width: 800px) {
        bottom: 72px;
        bottom: 8vw;
    }
}
.ie9 {
    .mail-form {
        bottom: 66px;
    }
    .mobile .mail-form {
        bottom: 66px;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .mail-form {
        bottom: 64px;
    }
    .mobile .mail-form {
        bottom: 64px;
    }
}

#message {
  color: $red;
  font-size: 14px;
  font-family:$font-bold;
  text-align:left;
  margin: 0 0 4px;  
}

.sample-paragraph {
    margin-top: 0;
}

.scene {
    clear: both;
}

.bg-img {
    height: 100%;
    > * {
        height: 100%;
    }
}