/* Layouts (within scenes) */

.textblock {
  max-width:80vw;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

#results .textblock {
  padding-top:0vh;
}

.mobile .textblock {
  @include mobileWidth(320vw);
  @include margin-auto;
}
.mobile .is-message {
  top: 0;
  transform: none;
  -ms-transform: none;
  vertical-align: middle;
  height: 100vh;
  position: relative;

  .text-wrapper {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
}

#smoke-alarms,
#electrical-cords,
#heaters,
#cooking,
#escape-plan,
#materials,
#smoking {
  .numblock {
    float: right;
  }
}
.mobile {
  #smoke-alarms,
  #electrical-cords,
  #heaters,
  #cooking,
  #escape-plan,
  #materials,
  #smoking {
    .numblock {
      float: none;
      padding: calc(410vw / 357 * 100) calc(62vw / 357 * 100) calc(34vw / 357 * 100);
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.bg-dots {
  z-index:100;
  display:none;
}

#product-info .after-content-container {
  padding-top:15vh; 
}

.logo {
  position:fixed;
  top:2vw;
  z-index:100;
}

.gp-logo {
  left: 0;
  @include mlVW(92);
}

.fireguard-logo {
  right: 0;
  @include mrVW(92);
}

#product-info {
  h1,
  #status,
  p {
    margin-bottom: calc(4vw * 12 / 56);
  }
}
.mobile #product-info {
  .product-text-group {
    @include mobileWidth(320vw);
    @include margin-auto;
  }
}

.nav-dots {
  position:fixed;
  left:6vw;
  top:30vh;
  z-index: 100;
}

#results .textblock {
  padding-bottom: 0;
  @include pbVW(35);
}
.mobile #results {
  .textblock {
    @include ptVW-mobile(120vw);
    padding-bottom: 0;
  }

  h1 {
    @include mbVW-mobile(18vw);
  }

  p {
    @include mbVW-mobile(14vw);
  }

  .mail-wrap p {
    margin-bottom: 0;
  }
}
.ie9 .mobile #results,
.ie9 .mobile #introduction {
  height: auto;
}
.ie9 .mobile #results {
  .textblock {
    top: 0;
    position: static;
    transform: none;
    padding-top: 0;
  }
}

#status {
  display:flex;
  justify-content: center;
  align-items:center;
  
  #smoke-alarms-icon{
    @include mtVW(32);
    @include mrVW(29);
  }
  #cooking-icon{
    @include mtVW(17);
    @include mlVW(-27);
    @include mlVW(-31); // flipped
    @include mrVW(28);
  }
  #electrical-cords-icon{
    margin-left:-1vw;
    @include mrVW(29);
  }
  #materials-icon{
    @include mtVW(32);
    @include mrVW(29);
  }
  #heaters-icon{
    @include mtVW(32);
    @include mrVW(28);
  }
  #smoking-icon{
    @include mtVW(32);
    @include mrVW(29);
  }
  #escape-plan-icon{
    @include mtVW(32);
  }
}
.mobile #status {
  display: none;
}