/* Mobile Stylesheet */

/* Compensatory Styles */
#gallerywrap {
	@include border-box;

	* { @include border-box; }

	.grid_1 a {
		transition: all .2s ease-out;
	}
}
/* End of Compensatory Styles */

/* Mobile */
@media screen and (max-width: 1024px) {
	
}
@media screen and (max-width: 767px) {
	
}
@media screen and (max-width: 480px) {
	
}
body.gallerypagewrap.mobile {
	background: #a39d98 url("../images/rural-texture.jpg");
}
.tablet-B {
	#title {
		display: none;
	}
	#gallerywrap {
		padding: 36px;
	}
	.container_5 {
		min-width: 0px;
	}
	&:not(.mobile) {
		#gallerywrap {
			padding: 36px 16px;
		}
		.container_5 {
			/*margin-bottom: 20px;*/

			a {
				height: 52px;
			}
		}
		.grid_1 img {
			margin-bottom: 5px;
		}
	}
}
.mobile {
	#gallerywrap {
		.grid_1 {
			margin: 0;
		}
		.container_5 {
			min-width: 0;
		}
	}
	#thumbrow16 {
		margin-bottom: 0;
	}
	.grid_1:last-child {
		padding-bottom: 0;
	}
	#gallerywrap {
		max-width: 480px;
		margin: 36px auto;
		background: $wt;

		.container_5 {
			img {
				margin-bottom: 5px;
			}
		}
		.grid_1 {
			width: 100%;
			padding-bottom: 24px;

			img {
				width: 100%;
			}
		}
		.grid_1:last-child {
			padding-bottom: 0;
		}
	}
	.container_5 {
		a {
			font-size: 16px;
			height: 54px;
		}
	}
	@media screen and (max-width: 540px) {
		#gallerywrap .grid_1 {
			/*padding: 0 10px 15px;*/

			img {
				margin-bottom: 5px;
			}
		}
	}
	@media screen and (max-width: 480px) {
		#gallerywrap {
			margin: 0 auto;
			padding: 24px;
		}
	}
}
body:not(.mobile) {
	.container_5 {
		margin-bottom: 20px;
		margin: 0;
		margin-bottom: 0;

		& + .container_5 {
			margin-top: 20px;
		}

		.grid_1 {
			width: 20%;
			margin: 0;
			padding: 0 10px 20px;

			&:nth-child(5n + 1) {
				clear: left;
			}
			&:nth-child(5n) {
				clear: right;
			}
		}
		a {
			height: 52px;
		}
	}
	#thumbrow16 .grid_1 {
		padding-bottom: 40px;
	}
}