/* Colors */
$blk: #000;
$wt: #fff;

$facebook-blue: #3b5998;
$twitter-blue: #4099ff;
$google-red: #dd4b39;

/* Meh */
@mixin border-box() {
	box-sizing: border-box;
}
@mixin margin-auto() {
	margin-left: auto;
	margin-right: auto;
}

/* vw Conversion Functions */
@mixin vwFont($f-size) {
	$new-size: calc(4vw * #{$f-size} / 56);
	font-size: $new-size;
}
@mixin calcVW($size) {
	$new-width: calc(4vw * #{$size} / 56);
	width: $new-width;
}
@mixin calcVH($size) {
	$new-height: calc(4vw * #{$size} / 56);
	height: $new-height;
}