/* GP Fireguard Consumer Site */
$font-reg:UniversLT-Condensed, 'Helvetica', sans-serif;
$font-bold:UniversLT-CondensedBold, 'Helvetica-Bold', sans-serif;
$font-oblique:UniversLT-CondensedOblique, 'Helvetica-BoldOblique', sans-serif;

$font-sub: Helvetica, sans-serif;

/* Colors */
$gp-blue: #0066a5;
$bg-blue: #0064a7;
$red: #b22024;
$dot-inactive: #ff4d4d;
$dot-active: #00ff40;
$blk: #000;
$wt: #fff;
$grayE: #eee;

$facebook-blue: #3b5998;
$twitter-blue: #4099ff;
$google-red: #dd4b39;

$success: #5da423;

/* Grays */
$grayA: #aaa;
$grayB: #bbb;
$grayE: #eee;
$gray8: #888;

/* Font Sizes */
$mobile-a: 18px;
$size-label: 20px;
$size-label-val: 20;
$size-paragraph: 26px; // 1.625em
$size-paragraph-val: 26;
$size-paragraph-SM: 22px;
$size-paragraph-SM-val: 22;

/* 1400px 4vw = 56px */
$size-h1: 8.92857142857143vw;
$size-h1-LG: 125px;
$size-h1-val: 125;
$size-h1-SM: 60px;

$size-bar-a: 2.57142857142857vw;
$size-bar-a-LG: 36px;
$size-bar-a-val: 36;
$size-bar-a-SM: 18px;

/* Spacing */
$spacing-XS: 15px;
$spacing-SM: 20px;
$spacing-MD: 30px;
$spacing-LG: 40px;

$size-h1-mobile: 60vw;
$size-paragraph-mobile: 22vw;
$size-numblock-a-mobile: 18vw;
$size-label-mobile: 20vw;

$size-h1-desktop: 125;
$size-paragraph-desktop: 26;
$size-popup-desktop: 35;
$size-bar-a-desktop: 36;

$size-share: 22;
$size-footer: 12;
$size-footer-mobile: 12vw;

/* media query sizes */
$compsize: 1400px;

/* vw Conversion Functions */
@mixin vwFont($f-size) {
	$new-size: calc(4vw * #{$f-size} / 56);
	font-size: $new-size;
}
@mixin calcVW($size) {
	$new-width: calc(4vw * #{$size} / 56);
	width: $new-width;
}
@mixin calcVH($size) {
	$new-height: calc(4vw * #{$size} / 56);
	height: $new-height;
}

/* Mobile */
@mixin mobileFont($px-size-vw) {
	$new-size: calc(#{$px-size-vw} / 357 * 100);

	font-size: $new-size;
}
@mixin mobileWidth($px-size-vw) {
	$new-width: calc(#{$px-size-vw} / 357 * 100);

	width: $new-width;
}
@mixin mobileHeight($px-size-vw) {
	$new-height: calc(#{$px-size-vw} / 357 * 100);

	height: $new-height;
}

/* Mobile Padding */
@mixin ptVW-mobile($px-size-vw) {
	$new-value: calc(#{$px-size-vw} / 357 * 100);

	padding-top: $new-value;
}
@mixin prVW-mobile($px-size-vw) {
	$new-value: calc(#{$px-size-vw} / 357 * 100);

	padding-right: $new-value;
}
@mixin plVW-mobile($px-size-vw) {
	$new-value: calc(#{$px-size-vw} / 357 * 100);

	padding-left: $new-value;
}
@mixin pbVW-mobile($px-size-vw) {
	$new-value: calc(#{$px-size-vw} / 357 * 100);

	padding-bottom: $new-value;
}
/* Mobile Margins */
@mixin mtVW-mobile($px-size-vw) {
	$new-value: calc(#{$px-size-vw} / 357 * 100);

	margin-top: $new-value;
}
@mixin mrVW-mobile($px-size-vw) {
	$new-value: calc(#{$px-size-vw} / 357 * 100);

	margin-right: $new-value;
}
@mixin mlVW-mobile($px-size-vw) {
	$new-value: calc(#{$px-size-vw} / 357 * 100);

	margin-left: $new-value;
}
@mixin mbVW-mobile($px-size-vw) {
	$new-value: calc(#{$px-size-vw} / 357 * 100);

	margin-bottom: $new-value;
}
/*
At 1400px (the desktop comp width), 4vw equals 56px, so the equation becomes:
4vw / 56px =  <calculated result> / [desired px size]
*/
@mixin vwPadding($top,$right,$bottom,$left) {
	$new-top: calc(4vw * #{$top} / 56);
	$new-right: calc(4vw * #{$right} / 56);
	$new-bottom: calc(4vw * #{$bottom} / 56);
	$new-left: calc(4vw * #{$left} / 56);
	padding: $new-top $new-right $new-bottom $new-left;
}
/* VW Margins */
@mixin mrVW($size) {
	$new-margin: calc(4vw * #{$size} / 56);
	margin-right: $new-margin;
}
@mixin mtVW($size) {
	$new-margin: calc(4vw * #{$size} / 56);
	margin-top: $new-margin;
}
@mixin mlVW($size) {
	$new-margin: calc(4vw * #{$size} / 56);
	margin-left: $new-margin;
}
@mixin mbVW($size) {
	$new-margin: calc(4vw * #{$size} / 56);
	margin-bottom: $new-margin;
}
/* VW Padding */
@mixin ptVW($px-size) {
	$new-value: calc(4vw * #{$px-size} / 56);

	padding-top: $new-value;
}
@mixin prVW($px-size) {
	$new-value: calc(4vw * #{$px-size} / 56);

	padding-right: $new-value;
}
@mixin plVW($px-size) {
	$new-value: calc(4vw * #{$px-size} / 56);

	padding-left: $new-value;
}
@mixin pbVW($px-size) {
	$new-value: calc(4vw * #{$px-size} / 56);

	padding-bottom: $new-value;
}

@mixin makeDot($size) {
	$border-radius: calc(#{$size} / 2);

	display: block;
	width: $size;
	height: $size;
	border-radius: $border-radius;
}

/* Mirror Mixins */
@mixin margin-auto() {
	margin-left: auto;
	margin-right: auto;
}
@mixin padding-side($padding) {
	padding-left: $padding;
	padding-right: $padding;
}
@mixin vertical-padding($padding) {
	padding-top: $padding;
	padding-bottom: $padding;
}

@mixin clearfix() {
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}