/* Mobile Stylesheet */

/* Compensatory Styles */
#contentbox,
#photo-credit {
	/*display: block;*/
}
.ps-carousel {
	/*background: #8b5c33;*/
	/*background-image: url(http://placekitten.com/1200/800);*/
	/*background-image: url(../images/project-images/2003_Utility-NOW_SCAN_13.jpg);
	background-image: url(../images/project-images/2009_RoseLeeHouse_left_elevation_exterior.jpg);*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
/* End of Compensatory Styles */

/* Mobile */
@media screen and (max-width: 1024px) {
	body {
		position: relative;
		* {
			@include border-box;
		}
	}
	#header {
		position: relative;
		min-width: 0px;
		
		#nav,
		#nav-right {
			margin: 0;
		}

		.colorLink {
			position: relative;

			&:after {
				/*content: "+";*/
				color: $wt;
				position: absolute;
				top: 50%;
				right: -20px;
				display: block;
				transform: translateY(-50%);
				cursor: pointer;

				&:hover {
					color: yellow;
				}
			}
		}
		a {
			padding: 10px;
			font-size: 16px;
			transition: background .2s ease-out,
				color .2s ease-out;
		}
		li {
			clear: both;
			text-align: center;
			height: auto;
			float: none;
		}
	}
	#nav li {
		border-bottom: 1px solid rgba(255,255,255,.2);

		&:not(.colorLink) {
			a {
				font-size: 16px;
				letter-spacing: 1px;
			}
		}
	}

	#PhotoSwipeTarget {
		margin: 0;

		&,
		& * {
			height: auto;
			/*max-height: 460px;*/
		}

		div.ps-toolbar,
		div.ps-toolbar * {
			height: 44px;
		}

		div.ps-toolbar {
			margin-top: -22px;
			/*transform: translateY(-50%);*/
		}

		.ps-carousel {
			*:not(img); {
				height: auto !important;
			}
			img {
				top: 0 !important;
				left: 0 !important;
				width: 100% !important;
				height: auto !important;
			}
		}
	}

	#contentbox,
	#PhotoSwipeTarget,
	#photo-credit {
		position: relative !important;
		top: 0;
		left: 0;
	}

	#contentbox {
		padding: 0;
		margin: 0;
		right: 0;
		margin: 0 auto;
		box-sizing: border-box;

		* {
			@include border-box;
		}
	}
	#contentinnerwrap {
		padding: 45px;
		margin: 45px auto;
	}
}
@media screen and (max-width: 767px) {
	#navHome,
	#nav-right {
		clear: both !important;
		display: block;
	}
	#contentbox {
		max-width: 100%;
		
		#contentinnerwrap {
			margin: 20px;
		}
	}
}
@media screen and (max-width: 480px) {
	#contentinnerwrap {
		padding: 20px;
	}
}