/* Mobile Stylesheet */

/* Compensatory Styles */
#header a {
	transition: background .2s ease-out,
		color .2s ease-out;
}
/* End of Compensatory Styles */

/* Mobile */
@media screen and (max-width: 1024px) {
	#header {
		position: relative;
		min-width: 0px;
		
		#nav,
		#nav-right {
			margin: 0;
		}

		.colorLink {
			position: relative;
		}
		a {
			padding: 10px;
			transition: background .2s ease-out,
				color .2s ease-out;
		}
		li {
			clear: both;
			text-align: center;
			height: 35px;
			float: none;
		}
	}
	#nav li {
		&:not(.colorLink) a {
			letter-spacing: 1px;
		}
	}
}
@media screen and (max-width: 767px) {
	#navHome,
	#nav-right {
		clear: both !important;
		display: block;
	}
	#header {
		min-height: 0px;
	}
}


@media screen and (min-width: 481px) and (max-width: 1024px) {
	#header {
		/*background: gray;*/

		li a {
			/*border: 1px solid pink;*/
		}
	}
	#nav,
	#nav-right {
		@include clearfix;
	}
	#nav,
	#nav * {
		box-sizing: border-box;
	}

	#nav {
		/*background: gray;*/
		height: 140px;

		li {
			/*margin-bottom: .05%;*/
			border-bottom: 1px solid $clearWhite;
			position: absolute;
		}
		#navHome a {
			border-bottom: 1px solid $clearWhite;
		}
		li:not(#navHome) {
			width: calc(100% / 3);
			/*float: left;*/
			/*height: 0;
			padding-bottom: 35px;*/
			clear: none;
			/*position: relative;*/

			display: block;
			height: 35px;
			padding: 0;

			a {
				display: block;
				width: 100%;
				/*position: absolute;
				top: 50%;
				transform: translateY(-50%);
				-ms-transform: translateY(-50%);*/

				/*background: gray;*/
			}
		}
		li:nth-child(3n) {
			/*left: 50%;
			transform: translateX(-50%);*/
			left: calc(100% / 3);
			a {
				border-right: 1px solid $clearWhite;
				border-left: 1px solid $clearWhite;
			}
		}
		li:nth-child(3n + 2) {
			clear: left;
			left: 0;
		}
		li:not(#navHome):nth-child(3n + 1) {
			clear: right;
			right: 0;
		}
		li:not(#navHome):nth-child(-n + 4) {
			top: 35px;
			/*border-top: 1px solid $clearWhite;*/
		}
		li:not(#navHome):nth-child(n + 5) {
			top: 70px;
		}
		li:not(#navHome):nth-child(n + 8) {
			top: 105px;
		}
	}
	#navHome,
	#navAuburn {
		a {
			background: $header-bg;
		}
	}
}


@media screen and (min-width: 1025px) {
	#nav .colorLink {
		margin-left: 10px;
	}
	#navAuburn {
		margin-right: 10px;
	}
}


/* Mobile Menu Button */
#menuBtn {
	position: absolute;
	top: 0;
	right: 0;
	height: 35px;
	width: 35px;

	path {
		fill: $wt;
	}

	&:hover,
	&.is-active {
		background: $rs-orange;
	}

	@media screen and (min-width: 496px) {
		display: none;
	}
}
/*#header.is-mobile {
	#nav li:not(#navHome) {
		height: 0;
	}
	#menuBtn {
		display: block;
	}
}*/
@media screen and (max-width: 480px) {
	#header li {
		border-bottom: 1px solid $clearWhite;
	}
	#PhotoSwipeTarget *:not(.ps-toolbar-content) {
		width: 100% !important;
	}
	#header:not(.is-open) {
		li:not(#navHome) {
			display: none;
		}
	}
}