/* Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	font-family: "franklin-gothic-urw-n3","franklin-gothic-urw",sans-serif;
	font-style: normal;
	font-weight: 300;	
	color:#3A3A3A;
}

body { padding: 0; margin: 0; background: #a39d98 url("../images/rural-texture.jpg"); font-family: "Lucida Grande", Helvetica, Arial,Verdana, sans-serif; color: #444340; }
h1 { font-size: 1.3em; padding: 15px 0; margin: 0;font-weight:500; }
h2 { font-size: 1.1em; padding: 10px 0; margin: 0;font-weight:500; text-transform:uppercase ; color: #d66339;}
h3 { font-size: .9em; padding: 5px 0; margin: 0;font-weight:500; text-transform:uppercase ; }
img { border: none; }
a { color: #444340; }


/* structural stuff */
#PhotoSwipeTarget {width:100%;margin-top:55px;}



/* Navigation*/

#header {
	position: fixed;
	background: #3A3A3A;
	min-height: 55px;
	width: 100%;
	top:0;
	z-index:4000;
	min-width:900px;
	font-weight:200
	font-family: "franklin-gothic-urw-n3","franklin-gothic-urw",sans-serif;
	font-style: normal;
	font-weight: 300;	
}
#header #nav {
	margin-left: 35px;
}

#nav li {
	list-style: none;
	float:left;
	height: 55px;
}
#nav a, #nav-right a {
	display:block;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 13px;
	padding:20px 10px 20px 10px;
}
#nav .colorLink a {
	color: #CEC5BA;	
}

#nav .first-nav {
 font-weight:500;
}
#nav-right a {
	color: #CEC5BA;	
}
#header #nav-right {
	margin-right: 35px;
}
#nav-right li {
	list-style: none;
	float:right;
	height: 55px;
}
#nav a:hover,#nav-right a:hover {
	background:#D66339;
}
#nav li a.current-pg, #nav-right li a.current-pg {
	background: #CEC5BA;
	color: #3A3A3A;
}

a {color:#CA6727;text-decoration:none;}



/* Breadcrumbs*/
.breadcrumb {
	width: 255px;	
	position: fixed;
	top:75px;
	left: 45px;
	opacity:1;
	z-index:2000;
}
.breadcrumb p {
	color: #444;
	font-size: 11px;	
	font-family: "franklin-gothic-urw-n5","franklin-gothic-urw",sans-serif;
	font-style: normal;
	font-weight: 500;	
	text-transform:uppercase;
}

.breadcrumb a {
	color:#000;
	font-weight: 500;	
}

.breadcrumb a:hover {
	color:#CA6727;
}
/* Text Box */
#controls-wrapper {
	width: 480px;
}


/* Caption Box */
#slidecaption {
	position:absolute;
	color: #444444;
	padding:30px 15px 30px 35px;
	font-size:16px;
	line-height: 23px;
	background: #FFF;
	width: 338px;
	position:absolute;z-index:2000;display:block;opacity:1;
}

.quad1 {top:95px; right:45px;}
.quad2 {bottom:45px; right:45px;}
.quad3 {bottom:45px; left:45px;}
.quad4 {top:95px; left:45px;}


/* Page Title */
#titlebox {
	display: none; 
	position: fixed;
	width: 415px;
	padding: 30px;
	right: 45px;
	margin-top: 108px;
	z-index:2000;
	opacity:1;
	/*text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);*/
	font-weight: 500;
	/* background-color:#666; */
}

#titlehead h1{
	color: #fff;
	font-size: 48px;
	font-family: "franklin-gothic-urw-n5","franklin-gothic-urw",sans-serif;
	font-style: normal;
	font-weight: 500;

	line-height:1em;
	margin:0 0 45px 0;
	padding:0;
}

#titlesub p {
	text-transform:uppercase;
	font-size: 12px;
	margin:0 0 0 4px;
	color:#fff;
	padding:0;
}
	
	
/* Page Copy */	

#contentbox {
	display: none; 
	width: 465px;
	top:55px;
	right:44px;
	position:absolute;
	z-index:2000;
	padding:170px 0 900px 0;
}

#Wide #contentbox {
	width:auto;
    right:0;
    top:0;
    padding-top:54px;
}

#Wide #pagetitle {
	padding-top: 9%;
margin-top: 120px;
}

#Wide .breadcrumb {
    display:none;
}

#Wide #contentinnerwrap {
    padding: 45px 75px 45px 55px;
}

#Wide .wide-layout-column-left {
	width:45%;
    float:left;
}

#Wide .wide-layout-column-right {
	width:45%;
    margin-left:10%;
    float:left;
}


#bannerimage img {
    width:100%;
    min-width:900px;
	position:absolute;
    left:0;
	top:55px
}

#contentinnerwrap {
	background-color:#fff;
	padding:45px 65px 45px 45px;
}

	
#copy p, #copy div{
	font-size:16px;
	line-height:23px;
	margin-bottom:23px;	
}
	
	
#pagetitle h1 {
	font-size: 48px;
	font-family: "franklin-gothic-urw-n5","franklin-gothic-urw",sans-serif;
	font-style: normal;
	font-weight: 500;

	line-height:48px;
	margin-bottom:30px;
	font-weight: 500;
}
	
#subhead {
	text-transform:uppercase;
	font-size: 12px;
	margin-bottom:70px;
}
	
#related {
	font-size: 11px;
	border-top: 1px solid #CCCBCB;
	border-bottom: 1px solid #CCCBCB;
	padding: 18px 0 18px 0;
	margin-bottom:30px;
}	

#related p {
	font-family: "franklin-gothic-urw-n5","franklin-gothic-urw",sans-serif;
	font-style: normal;
	font-weight: 500;
}

	
/* Photo Credit & Slide Numbers */	
#controls-wrapper {
	height:32px; 
	width:100%; 
	bottom:32px; 
	left:0; 
	z-index:2000; 
	position:fixed; 
	display:block;opacity:1;
}
.controls {
	overflow: auto;	
}

#photo-credit {
	text-transform:uppercase;
	color:#FFF;
	font-size:10px;
	font-family: "franklin-gothic-urw-n5","franklin-gothic-urw",sans-serif;
	font-style: normal;
	font-weight: 500;
	display:block;
	opacity:1;
	left:45px;
	bottom:15px;
	position:fixed;
	z-index:2000;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}

#photo-credit a {	font-weight: 500;}

#slidecounter { 
	color:#FFF; 
	font-size:10px; 
	font-family: "franklin-gothic-urw-n5","franklin-gothic-urw",sans-serif;
	font-style: normal;
	font-weight: 500;
	display:block;
	opacity:1;
	right:45px;
	bottom:15px;
	position:fixed;
	z-index:2001;	
	/*text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);*/
}
.slidenumber { 
	color:#FFF;
	font-size:10px;
}
.totalslides { 
	color:#FFF;
	font-size:10px;
}	

/* play button for video */
#playbutton {
	display:none;
	opacity:1;
	top:50%;
	width:100%;
	position:fixed;
	z-index:4001;
	text-align:center;	
	height:1px;
	margin-top:-44px;
}


#playbutton a {
	width:90px;
	height:90px;
	background:rgb(0,0,0) url("../images/playbutton.png") 0 0 no-repeat;
	background:rgba(0, 0, 0, 0.8) url("../images/playbutton.png") 0 0 no-repeat;
	display:inline-block;
	opacity:1;	
	zoom:1;
}



/* back and next arrows */

#prevthumb a, #nextthumb a {background:url("../images/arrows_sprite.png") 0 0 no-repeat;width:45px;height:45px;opacity:0.6;display:block;position:absolute;top:50%;z-index:3000;text-indent:-9000em;}
#prevthumb a {left:0;}
#nextthumb a {background-position:-45px;right:0;}
#prevthumb a:hover, #nextthumb a:hover {opacity:1;}

/* Fix Layout on Larger Screens */
@media screen and (min-width: 1335px) { 


}



